/* --- 固定头部样式 --- */
/*背景*/
.fixed-header {
    position: fixed;
    width: 100%;
    height: 3.5rem;     
    border-bottom:1px solid rgba(255, 255, 255, .1);
    z-index: 100;		
    /* 顶部半黑模糊效果 */
    background-color: rgba(29, 29, 31, .8);
    backdrop-filter: saturate(180%) blur(20px);
}
.header-content {
    /* min-width: 20rem; */
    height: 100%;
    margin: 0 auto;
    display: flex;
    /*两端对齐*/
    justify-content: space-between;
    /*居中对齐*/
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}
/* 关闭按钮 */
.back-btn { 
    display: flex; 
    align-items: center; 
    color: rgba(255, 255, 255, .8);
    font-size: 1rem; 
    padding: 0.3rem;
    border-radius: 50%;
    border:1px solid rgba(255, 255, 255, .8);
    /*确保图标不被挤压*/
    flex-shrink: 0;
	/* transition: all 0.3s ease-in-out; */
}
.back-btn:hover{
    background-color: rgba(255, 255, 255, .1);
	/* transition: all 0.3s ease-in-out; */
}
.back-btn svg { 
    width: 1.2rem; 
    height: 1.2rem; 
    /* margin-right: 0.2rem;  */
    /* 核心微调：将 SVG 垂直下移一点，与文字视觉中心对齐 */
    /* 使用 relative 定位或 transform 微调，这里用 transform 更简洁 */
    /* transform: translateY(1px); */
}
/* 标题 */
.title_display{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, .8);
    white-space: nowrap; /* 强制文本不换行 */
    overflow: hidden;    /* 隐藏溢出部分 */
    text-overflow: ellipsis; /* 将溢出部分显示为省略号 (...) */
}
/*头像*/
.avatar{
    /* margin:2rem 0 0.8rem 2.5rem; */
    width:2.2rem;
    height:2.2rem;
    border-radius: 50%; 
    background: url("/images/logo.png") no-repeat;
    background-color: #7bd3e9;
    background-size:2rem 2rem;
    /*不显示点击小手*/
    cursor: default;
    /*确保图标不被挤压*/
    flex-shrink: 0;
}

/* --- 详情图片 --- */
main{
    /* padding-top: 3.5rem; */
}
main img{
    width:100%;
}