/* 针对整个滚动条 */
::-webkit-scrollbar {
    width: 12px;
    height: 100%;
}
/* 滚动条轨道 (背景) */
::-webkit-scrollbar-track {
    background: rgb(46, 46, 48);
    /* border-radius: 20px;  */
}
/* 滚动条手柄 (拖动部分) */
::-webkit-scrollbar-thumb {
    background: rgb(115, 115, 119);
    border-radius: 10px;
}
/* 鼠标悬停在手柄上时的颜色变化 */
::-webkit-scrollbar-thumb:hover {
    background: rgb(175, 175, 181); 
}
/* Firefox */
/* body {
    scrollbar-width: thin;
    scrollbar-color: #007bff #e9ecef;
} */

main img{
    width:100%;
}